<template name="footer">
	<audio id="audio_player0" controls class="my_audio" autoplay="autoplay" preload="none">
    <source src="/audio/neonGenesis.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player1" class="my_audio" preload="none">
    <source src="/audio/fateZero.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player2" class="my_audio" preload="none">
    <source src="/audio/moribito.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player3" class="my_audio" preload="none">
    <source src="/audio/noragami.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player4" class="my_audio" preload="none">
    <source src="/audio/sevenWonders.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player5" class="my_audio" preload="none">
    <source src="/audio/berserk.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player6" class="my_audio" preload="none">
    <source src="/audio/ghostInShellMovie.mp3" type="audio/mpeg">
  </audio>
</template>
